.cart{
    color: #f4ecc7;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer; 
    position: relative;
}
.row{
    background: red;
    background-color: red;
}

.cart span {
    position: absolute;
    background: #000;
    border-radius: 40px;
    width: 18px;
    height: 18px;
    font-size: 11px;
    text-align: center;
    font-weight: 700;
    right: 0;
    top: 5px;
}