.img{
    width: 100%;
}
.productontent{
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer; 
    margin: 10px 0px 10px 0px;
    text-align: center;
}
.productontent p:first-child {
    font-weight: bold;
  }