.topnav {
    height: 40px;
    background-color: #574898;
    width: 100%;
    z-index: 1;
    position: fixed;
}
.footer{
    height: 100px;
    background:#574898;;
}
.content{
    padding: 10px;
}