.productdetail{
  text-align: center;
}
.button {
    background: #de2454;
    border-width: 1px;
    align-items: center;
    font-weight: 600;
    border-radius: 30px;
    outline: none;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: center;
    color: rgba(255, 255, 255, var(--text-opacity));
  
  }
.button:hover {
    background-color: #bf1f49;
    transform: scale(1.02);
  }
 