.shoppingCartContainer {
    z-index: 1;
    position: fixed;
    top: 40px;
    right: 0px;
    width: 300px;
    height: calc(100vh - 40px);
    border: 2px solid #ddd;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shopppingCartHeader {
    position: relative;
    height: 30px;
    padding-bottom: 3px;
    border-bottom: 1px solid #767676;
}

.shopppingCartHeader p {
    text-align: left;
    position: absolute;
    left: 0;
    font-weight: bold;
}

.closeShoppingcart {
    text-align: right;
    position: absolute;
    right: 0;
}

.closeShoppingcart svg:active{
    color: red;
}
.shopppingCartTotal p {
    display: inline-block;
    font-weight: bold;
}

.shopppingCartTotal p:nth-child(2) {
    text-align: right;
    position: absolute;
    right: 0;
}

.contentContainer {
    border-bottom: 1px solid #767676;
    margin-top: 10px;
}

.flexContainer {

    display: flex;
    border-bottom: 1px solid rgb(155, 155, 155);
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.item1 {
    /* flex:0 1 auto; */
    flex-grow: 0;
}

.item1 *:focus {
    outline: none !important;
}

.item1 button {
    border: 0;
    background-color: transparent;
    color: #ff0000;
}
.item1 button:hover{
    transform: scale(1.10);
}

.item1 button:active{
    color: #c40000;
}

.item2 {
    /* flex:1 1 auto; */
    flex-grow: 1;
    text-align: center;
}

.item2 p:nth-child(1) {
    font-weight: bold;
}

.item3 img {
    width: 45px;
}

.btncontainer {
    position: absolute;
    bottom: 10px;
}

.calcContainer {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.btncontainer a {
    background: #6cd247;
    color: #fffee0 !important;
    border-radius: 2px;
}

.btncontainer a:hover {
    background: #6cd247;
}