.productdetail{
  text-align: center;
}
.productdetail  a {
    background: #de2454;
    color: #fff;
    border-width: 1px;
    align-items: center;
    font-weight: 600;
    border-radius: 30px;
    outline: none;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: center;
  
  
  }
.productdetail a:hover {
    background-color: #bf1f49;
    box-shadow: 1px 7px 13px 0px rgba(67,0,17,0.13);
    transform: scale(1.02);
  }