.management {
    background-color: black;
    color: white;
    height: 80px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}
.delete{
    display: inline-block;
}
.productTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .productTable th,
  .productTable td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .productTable th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }
  .productTable tbody tr:hover {
    background-color: #dcace2;
    cursor: pointer;
  }