body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-primary {
  color: #fff;
  border-color: transparent;
}
.btn-primary:not(:disabled):not(.disabled).active,
 .btn-primary:not(:disabled):not(.disabled):active, 
 .show >.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #bf1f49;
  border-color: transparent;
}

.btn, .btn:hover, .btn:active, .btn:visited, .btn:focus, .btn:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}